<form class='pure-form' action="#" method="POST">
	    <fieldset>
	      <legend>Login</legend>

	        <input class='pure-input-1-2' name="username" type='text' placeholder='Username'>
	        <input class='pure-input-1-2' name="password" type='password' placeholder='Password'>

	        <label for='remember'>
	            <input name='remember' type='checkbox'> Remember me
	       </label>

	       <button type=submit class='pure-button pure-button-primary'>Login</button>
	   </fieldset>
</form>
