<form class='pure-form' action="#" method="POST">

<div id='playerNameSelection'>

</div>

<input class='pure-input-1-2' type='text' name='name' placeholder="tech name "/>

  <select class='pure-input-1-2' name="target">
     <optgroup label=" resources">
        <option value="food">
         food
        </option>
        <option value="water">
         water
        </option>
        <option value="fuel">
         fuel
        </option>
        <option value="raw_metal">
         raw_metal
        </option>
        <option value="exotic_metal">
         exotic_metal
        </option>
    </optgroup>
    <optgroup label="construction">
        <option  value="speed">
          speed
        </option>
        <option value="cost">
          cost
        </option>
    </optgroup>
  </select>
<br>
  <select class='pure-input-1-2' name="modifier">
        <option value="add">
          Add
        </option>
        <option value="mul">
          Multiply
        </option>
  </select>
  <input class='pure-input-1-2' type='text' name='value' placeholder='value' />
<br>
    <button type="submit">Submit</button>
</form>
