<form class='pure-form' action="#" method="POST">


<input class='pure-input-1-2' type='text' name='playerName' disabled value="%s"/>
<input class='pure-input-1-2' type='text' name='player'  disabled value="%s"/>

    <input class='pure-input-1-2' type='text' name='techName' placeholder="tech name "/>
  <select class='pure-input-1-2' name="value">
     <optgroup label=" resources">
        <option value="food">
         food
        </option>
        <option value="water">
         water
        </option>
        <option value="fuel">
         fuel
        </option>
        <option value="raw_metal">
         raw_metal
        </option>
        <option value="exotic_metal">
         exotic_metal
        </option>
    </optgroup>
    <optgroup label="construction">
        <option  value="speed">
          speed
        </option>
        <option value="cost">
          cost
        </option>
    </optgroup>
  </select>
<br>
    <input class='pure-input-1-2' type="number" name="modifier" placeholder="modifier" />
<br>
    <textarea class='pure-input-1-2' type="text" name="body" placeholder="Write your review here..." rows="4" cols="50">
    </textarea>
<br>

    <button type="submit">Submit</button>
</form>