<form class='pure-form' action="#" method="POST">
	    <fieldset>
	      <legend>Login</legend>

	        <input class='pure-input-1-2' name="username" type='text' placeholder='Username'/>
	        <input class='pure-input-1-2' name="password" type='password' placeholder='Password'/>
          <input class='pure-input-1-2' name="repeat-password" type='password' placeholder='Repeat Password' />
	       <button type=submit class='pure-button pure-button-primary'>Register</button>
	   </fieldset>
</form>
